* {
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}
body {
    background-color: #badae2;
    margin: 0;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Beau Rivage', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.cover {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../img/bg-food.jpg"); */
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3em;

}

.two {
    background-position: bottom;
    height: 50vh;
}